.product {
  position: relative;
  width: 440px;
}
.top {
  position: absolute;
  width: 100%;
  padding: 10px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bun,
.bunSale {
  margin-left: 10px;
  background-color: var(--dark-black);
  font-weight: 700;
  padding: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 109%;
  text-transform: uppercase;
  color: #fff;
}
.bunSale {
  background-color: var(--light-orange);
}
.heart {
  margin-left: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.category {
  font-weight: 500;
  font-size: 12px;
  line-height: 92%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #747474;
  margin-bottom: 10px;
}
.title {
  font-size: 19px;
  line-height: 137%;
  color: var(--dark-black);
  margin-bottom: 10px;
}
.colors {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  line-height: 173%;
  color: #2e2e2e;
}
.colors span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
  margin-bottom: 2px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 19px;
  line-height: 137%;
  color: var(--dark-black);
  margin-right: 10px;
}
.oldPrice {
  line-height: 173%;
  text-decoration: line-through;
  color: #999;
}
.cart {
  margin-left: 10px;
}
