@import url('./reset.css');
@import url('./fonts.css');
@import url('./vars.css');
@import url('./buttons.css');

/* body {
  font-family: 'Pragmatica';
} */


.container {
  max-width: 1375px;
  margin: 0 auto;
  padding: 0 15px;
}