.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.title {
  font-weight: 500;
  font-size: 39px;
  line-height: 128%;
  text-transform: uppercase;
  color: var(--dark-black);
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.arrow:last-child {
  margin-top: 5px;
  transform: rotate(180deg);
}
