.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  line-height: 67%;
  color: #b5b5b5;
}

.bottomWrapper {
  display: flex;
  align-items: center;
  gap: 70px;
}
.sort {
  position: relative;
}
.limit {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 67%;
  color: var(--dark-black);
}
.limit button {
  display: block;
  padding: 16px;
  border: 1px solid #eee;
}

.activeLimit {
  border: 1px solid #212121 !important;
}
.sort strong {
  line-height: 67%;
  color: var(--dark-black);
  margin-right: 16px;
}
.sort span {
  line-height: 67%;
  color: #414141;
}
.sortArrow,
.sortArrowRotate {
  margin-left: 50px;
}
.sortArrowRotate {
  transform: rotate(180deg);
}
.popup {
  position: absolute;
  bottom: -120px;
  right: 35px;
}
.popup li {
  margin-bottom: 10px;
}
