.features {
  padding-block: 50px;
}
.features img {
  min-width: 36px;
}
.featuresInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125vw;
}
.featuresItem {
  display: flex;
  gap: 20px;
  max-width: 412px;
  height: 110px;
}
.featuresContent h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-transform: uppercase;
  color: var(--dark-black);
}
.featuresContent p {
  line-height: 167%;
  color: #4b4b4b;
}

@media (max-width: 991px) {
  .features {
    padding-block: 30px;
  }
  .featuresInner {
    flex-direction: column;
    gap: 40px;
  }
}
