.intro {
  padding-bottom: 35px;
}

.content {
  max-width: 550px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 69px;
  text-transform: uppercase;
  color: var(--dark-black);
}

.title span {
  position: relative;
}

.title span::after {
  content: '';
  background-color: var(--dark-black);
  position: absolute;
  top: 40px;
  right: -150px;
  display: block;
  width: 123px;
  height: 2px;
}

.text {
  max-width: 500px;
  margin-block: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 161%;
  color: #292929;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--dark-black);
  margin-bottom: 20px;
}

.price span {
  font-weight: 500;
  font-size: 22px;
  line-height: 118%;
  color: var(--dark-black);
}

.arrows {
  display: flex;
  gap: 14px;
  margin-top: 56px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #000;
  transition: all 0.3s;
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--blue);
}

.arrow:last-child {
  transform: rotate(180deg);
}

.dots {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dot {
  width: 8px;
  height: 8px;
  padding: 8px;
  border-radius: 50%;
  background-color: #1f1f1f;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s;
}

.dot:hover {
  opacity: 1;
}

.activeDot{
  opacity: 1;
}