.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title {
  font-weight: 500;
  font-size: 69px;
  text-transform: uppercase;
  color: var(--dark-black);
}

.title span {
  position: relative;
}

.title span::after {
  content: '';
  background-color: var(--dark-black);
  position: absolute;
  top: 40px;
  right: -150px;
  display: block;
  width: 123px;
  height: 2px;
}

.text {
  max-width: 500px;
  margin-block: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 161%;
  color: #292929;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--dark-black);
  margin-bottom: 20px;
}

.price span {
  font-weight: 500;
  font-size: 22px;
  line-height: 118%;
  color: var(--dark-black);
}

.arrows {
  display: flex;
  gap: 14px;
  margin-top: 56px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #000;
}

.arrow:last-child {
  transform: rotate(180deg);
}

.dots {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1f1f1f;
}
