.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topList {
  display: flex;
  gap: 40px;
}
.topListItem {
  font-size: 14px;
  line-height: 79%;
  color: #585858;
  padding-block: 17px;
  cursor: pointer;
}

.login {
  font-size: 13px;
  line-height: 85%;
  color: #494949;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px solid #eaeaea;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 70px;
  border-right: 1px solid #eaeaea;
}

.logoSearchWrapper {
  display: flex;
  align-items: center;
}

.contentList {
  display: flex;
  gap: 57px;
}
.contentListItem {
  padding: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 73%;
  color: var(--dark-black);
  padding-block: 30px;
  cursor: pointer;
  position: relative;
}
.contentListItem span {
  position: absolute;
  top: 40px;
  left: -50px;
  display: block;
  background-color: var(--dark-black);
  transform: rotate(180deg);
  height: 3px;
}
.contentListItem span:first-child {
  width: 25px;
  top: 30px;
}
.contentListItem span:last-child {
  width: 36px;
  transform: rotate(360deg);
}
.links {
  display: flex;
}
.link {
  position: relative;
  padding: 28px;
  border-right: 1px solid #eaeaea;
  cursor: pointer;
}
.activeLink {
  background-color: var(--dark-black);
}

.link span {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--light-orange);
  color: #fff;
}
.searchInput {
  width: 500px;
  padding-block: 30px;
  padding-left: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 45%;
  color: #000;
}
::placeholder {
  color: #cecece;
}