h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 107%;
  color: var(--dark-black);
  margin-bottom: 32px;
}

.inner {
  padding-bottom: 170px;
}
.tabs {
  display: flex;
}

.tab,
.tabActive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 35px;
  width: 215px;
  height: 67px;
  cursor: pointer;
}
.tabActive {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.inner {
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoItem {
  display: flex;
  align-items: center;
  gap: 24px;
}
.infoItem:not(:last-child) {
  margin-bottom: 50px;
}
.infoContent h3 {
  font-weight: 500;
  font-size: 17px;
  color: var(--dark-black);
  margin-bottom: 8px;
}
.infoContent div {
  line-height: 137%;
  color: var(--light-black);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 126%;
  color: #1d1d27;
  margin-bottom: 4px;
}
.form h3 {
  font-size: 19px;
  line-height: 232%;
  color: #434343;
  margin-bottom: 40px;
}
form {
  max-width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.input {
  width: 100%;
  min-width: 750px;
}
button {
  display: block;
}
