.title {
  font-weight: 500;
  font-size: 45px;
  line-height: 107%;
  color: var(--dark-black);
  margin-bottom: 30px;
}
.catalog {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}
